
    header {
        background-color: #666;
        padding: 30px;
        text-align: center;
        font-size: 35px;
        color: white;
      }	
      table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
      
      }

      tr:nth-child(even) {
        background-color: #dddddd;
      }
      #tableOfFiles td, #tableOfFiles th {
        border: 1px solid #ddd;
        padding: 8px;
      }
      
      #tableOfFiles tr:nth-child(even){background-color: #f2f2f2;}
      
      #tableOfFiles tr:hover {background-color: #ddd;}
      
      button.button {
        
        border: 5px;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
      }
      
      #btnStart {
        font-size: 16px;
        padding: 15px 32px;
        color: black;
        background-color: greenyellow;
         }
      #btnStart:hover
{
background-image:none;
background-color:#8daf3c;
}

#btnStop {
  font-size: 16px;
  padding: 15px 32px;
  color: black;
  background-color: pink;
   }
#btnStop:hover
{
background-image:white;
background-color:red;
}

#btnResponse {
  font-size: 16px;
  padding: 15px 32px;
  color: black;
  background-color: lightblue;
   }
#btnResponse:hover
{
color:white;
background-color:blue;
}
#btnBoth {
  font-size: 16px;
  padding: 15px 32px;
  color: black;
  background-color: rgb(173, 165, 218);
   }
#btnBoth:hover
{
color:white;
background-color:rgb(70, 6, 66);
}

      /* Create two columns/boxes that floats next to each other */
      nav {
        float: left;
        width: auto;
        height: 40%;
        background: rgb(205, 205, 207);
        padding: 20px;
        overflow:scroll;
      
      }
      
      article {
        float: left;
        padding: 20px;
        width: 30%;
        background-color: #f1f1f1;
        position: -webkit-sticky; /* Safari */
        position: sticky;
        top: 0;
      
      }
      
      /* Clear floats after the columns */
      section::after {
        content: "";
        display: table;
        clear: both;
      }
      
      /* Style the footer */
      footer {
        background-color: #777;
        padding: 10px;
        text-align: center;
        color: white;
      }
      
      /* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
      @media (max-width: 100px) {
        nav, article {
          width: 100%;
          height: auto;
        }
      
      td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
        width:auto;
        white-space: nowrap;
      }
      
      
      }
      
     